---
layout: page
title: About me
description: About the author
---

<h1>About me</h1>

<hr>

{% for category in site.categories %}
	<h2>{{ category[0] }}:</h2>
	<div class="post-preview">
		{% for post in category[1] %}
			<a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
			<p>&mdash; {{ post.description }} <a href="{{ post.url }}">Read more</a></p>
		{% endfor %}
	</div><!-- end .post-preview -->
{% endfor %}


I am an electrical engineering student who is currently living in New York.

I was born in Seoul and spent most of my childhood in Southeast Asia, including Jakarta, Manila, and Bangkok. My time there was spent mostly swimming, playing football, practicing the cello, and building Legos. I then moved to Moscow and graduated high school. Afterwards, I took a gap year to travel, learn the piano, and perform in an amateur orchestra.

In 2018, I arrived at New York to study engineering at The Cooper Union. In the middle of my studies, I had a two-year leave of absence to complete my national service in the Republic of Korea Army. I am currently in my fourth year of my studies, and looking to graduate with a bachelor's degree in electrical engineering in May of 2024.

When I'm not immersed in schoolwork, I like to run the city, watch or read science fiction, and eat pastries. Life in the city has proven to be both inspiring and exhausting, though I am learning a lot every day. I hope that the learning continuous beyond school or work, and that the world and people I interact with push me to become evermore inquisitive.